[submodule "cookbooks-aligent/magento"]
	path = cookbooks-aligent/magento
	url = git@github.com:aligent/cookbook-magento.git
[submodule "cookbooks-aligent/varnish"]
	path = cookbooks-aligent/varnish
	url = git@github.com:aligent/varnish.git
